 # Pandas
 
#### Series
* pd.Series(data , labels)
This is just a kind of double hashmap where each  entry exists in the form key value pairs { list , list}

### DataFrames:

* pd.DataFrame(data , rows, cols)
data frames are nothing but a two dimesional representation of DataSeries
with both axes consisting of two different series which can be indexed form each other an serves as alternative DataSeries for each other.

* df.drop(col, axis = 1, inplace = true) 
    * Rows have 0 and cols have 1 axis
    * inplace = true is required for deleting permanently
    
*  Df.loc() , df.iloc(idx)
    * loc finds the series with key 
    * iloc returns the series but with taking index
* df.reset_index()
    * it adds new index 0 , 1 , 2 ,3 for every row
* df.set_index()
    * removes the index column added from reset_index()
* df.index.name = [list] 
* Df.xs(pos, level= ‘index name’)


### Missing Value:
* df.dropna(axis=””, thresh=“”) 
    * thres:Limit for the amount of NaN values 
    * axis : 0 for rows 1 for colums
* df.fillna(value =df[].mean())
    * used to fill the NaN values


### GroupBy
* df.groupby(col).__someAgregateFunction__
* df.groupBy(col).describe()
> Tese are the normal sql shit

### Merging
* pd.concat([df1,df2,df3])
* pd.merge(left, right , how=‘inner’,on = ‘key’)
> again that sql joins.

### Unique
* df[col].unique()
* df[col].value.counts() 
* df[col].apply(__customFunction__)
    * we can apply any cusotm function there .
* df.sort_values(by=‘col’)
* df.isnull()
* df.pivot_table(values=,index=[],columns=[])
    * not to be used as such.